* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* font-family: 'Lato', sans-serif; */
body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1140px;
  margin: auto;
}

/* Header */
.header {
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-wrapper .logo {
  padding: 28px 0;
}

.menu {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  transition: .3s;
}

.menu li {
  margin-right: 45px;
  display: block;
  position: relative;
}


.menu li:hover::before {
  position: absolute;
  content: '';
  top: 50%;
  left: -30px;
  width: 20px;
  height: 1px;
  background-color: #06060a;
}

.menu li a {
  color: #777777;
  position: relative;
  transition: .3s;
}

.menu li a:hover {
  color: #000;
}

/* search */
.search-box {
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.search-box+label .search-icon {
  color: #828282;
  transition: .5s;
}

.search-box:hover+label .search-icon {
  color: black;
}

.search-box:focus {
  transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 200px;
  border-radius: auto;
  background: #ebebeb;
  color: black;
}

.search-box:focus+label .search-icon {
  color: black;
}

.search-submit {
  position: relative;
  left: -3000px;
}

.search-icon {
  position: relative;
  left: -30px;
  color: #fff;
  cursor: pointer;
}

/* Slider */

.slide-text {
  background-image: url('../images/slide.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 263px 0 331px 0;
}

/* bg image slide */
.second-slide {
  background-image: url('../images/slide.png');
}

.third-slide {
  background-image: url('../images/slide.png');
}

/* slide text */
.slide-text h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  text-align: center;
  max-width: 700px;
  margin: auto;
  background-color: #000;
}

.slide-text p {
  color: #000;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 7.2px;
  text-align: center;
  margin-top: 38px;
}

/* slide prev */
.owl-carousel .owl-nav button.owl-prev {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  position: absolute;
  top: 50%;
  left: 10%;

  width: 43px;
  height: 43px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  outline: none;
}

.owl-carousel .owl-nav button.owl-next {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  position: absolute;
  top: 50%;
  right: 10%;

  outline: none;
  width: 43px;
  height: 43px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.owl-carousel .owl-nav button.owl-prev span {
  top: -35%;
  font-size: 50px;
  position: absolute;
  right: 45%;
  font-weight: 300;
  color: #fff;
}

.owl-carousel .owl-nav button.owl-next span {
  top: -35%;
  font-size: 50px;
  position: absolute;
  right: 15%;
  font-weight: 300;
  color: #fff;
}

.owl-theme .owl-nav {
  margin: 0;
}

/* slide dot */


.owl-theme .owl-dots {
  position: absolute;
  bottom: 58px;
  display: block;
  margin: 0 auto;
  left: 48%;
}

.owl-carousel button.owl-dot {
  outline: none;
}

.owl-theme .owl-dots .owl-dot span {
  background-color: #fff;
  transition: .3s;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  box-shadow: inset 0px 0px 0px 3px rgba(0, 0, 0, 1);
  background-color: #fff;
}

/* portfolio */
.portfolio {
  background-color: #fafafa;
  padding-top: 33px;
}

.posts {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  max-height: 1300px;
}

/* nav */
.toggles {
  text-align: center;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  cursor: default;
  margin-bottom: 29px;
}

.toggles button {
  border: none;
  background: none;
  outline: none;
  color: #777777;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1.05px;
  line-height: 60px;
  transition: .3s;
}

.toggles span {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  cursor: default;
  color: #d7d7d7;
}

.toggles button:last-child::after {
  content: ' ';
}

.toggles button.active {
  color: #000;
}

.toggles button:hover {
  color: #000;
  cursor: pointer;
}

/* Posts */

.block {
  width: 360px;
  margin: 10px;
}

.block a {
  display: block;
  position: relative;
}

.block a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  opacity: 0;
  transition: .2s;
}

.block a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: .2s;
}

.block a:hover:before,
.block a:hover:after {
  opacity: 1;
  background-image: url('../images/plus.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.block-1 {
  height: 250px;
}

.block-2 {
  height: 350px;
}

.block-4 {
  height: 450px;
}


.btn-more {
  display: block;
  text-align: center;
  padding: 36px 0 73px 0;
}

.btn-more a {
  color: #fff;
  transition: .3s;
  padding: 10px 24px;
  background-color: #959595;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.76px;
}

.btn-more a:hover {
  color: #000;
  background-color: #777777;
}

/* footer */

.footer {
  text-align: center;
  padding-top: 64px;
  box-shadow: 0 0 5px 1px rgba(163, 163, 163, 0.1);
}

.footer .footer__logo {
  text-align: center;
  margin-bottom: 44px;
}

.footer__social {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.footer__social ul li {
  display: inline-block;
  margin-right: 55px;
}

.footer__social ul li:last-child {
  margin-right: 0;
}

.footer__social ul li a i {
  color: #777777;
  font-size: 14px;
  padding: 25px 0;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.7px;
  transition: .3s;
}

.footer__social ul li a i:hover {
  color: #000;
  font-weight: 700;
}

.footer__copyright {
  padding-top: 37px;
  padding-bottom: 47px;
  text-align: center;
}

.footer__copyright h3 {
  color: #9c9c9c;
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.33px;
}

.footer__copyright h3 a {
  color: #000;
}

/* ABOUT */

.about {
  background-image: url('../images/bg-about.png');
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f0f0f2;
}

.about h2 {
  display: inline-block;
  color: #fff;
  font-size: 48px;
  font-weight: 300;
  padding: 5px 30px;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  background-color: #000;
  margin-top: 115px;
}

.about p {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 7.2px;
  margin-top: 44px;
  padding-bottom: 100px;
}

/* story */

.story {
  background-color: #fafafa;
  padding-top: 72px;
  padding-bottom: 100px;
}

.story .container {
  display: flex;
  justify-content: space-between;
}

.story__img {
  background: url('../images/bg-story.jpg') no-repeat center top;
  width: 531px;
  height: 600px;
}

.story__block {
  max-width: 570px;
}

.story__block h3 {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 7.2px;
  line-height: 20px;
  text-transform: uppercase;
  padding-bottom: 44px;
}

.story__block p {
  font-size: 14px;
  color: #777777;
  font-weight: 400;
  letter-spacing: 0.35px;
  line-height: 30px;
  padding-bottom: 44px;
  font-family: 'Lato';
  font-weight: 400;
}

.story__block p:last-child {
  padding: 0;
}

.story__block span {
  display: block;
  color: #2f302f;
  font-size: 16px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0.4px;
  margin: 15px 0;
}

.story__block span:first-child {
  margin-top: 0;
}

/*  */

.slider .range-control {
  position: relative;
}

.slider .range-control input[type=range] {
  display: block;
  width: 552px;
  height: 10px;
  margin: 0;
  -webkit-appearance: none;
  outline: none;
}

.slider .range-control input[type=range]::-webkit-slider-runnable-track {
  position: relative;
  background-color: #e2e2e2;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.slider .range-control input[type=range]::-webkit-slider-thumb {
  position: relative;
  width: 8px;
  height: 8px;
  border: 2px solid #000;
  -webkit-appearance: none;
  background-color: #fff;
  box-shadow: inset 0 -1px 2px 0 rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  cursor: pointer;
}

.slider .range-control output {
  position: absolute;
  top: -22px;
  display: none;
  width: 40px;
  height: 21px;
  border: 1px solid #e2e2e2;
  background-color: #041608;
  border-radius: 100px 100px 100px 0;
  color: #fff;
  font-size: 0.8em;
  line-height: 21px;
  text-align: center;
}

.slider .range-control input[type=range]:active+output {
  display: block;
  transform: translateX(-30%);
}


/* team */
.team {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  padding-bottom: 76px;
}

.team h2 {
  color: #000;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 12px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 38px;
}

.team p {
  max-width: 595px;
  margin: auto;
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 30px;
  text-align: center;
  color: #777777;
  margin-bottom: 67px;
}

.team__founder {
  display: flex;
  justify-content: space-between;
}

.team__founder-item {
  background-image: url('../images/LianJoy.png');
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-color: #eeeeee;
  width: 358px;
  height: 627px;
  position: relative;
  margin-right: 25px;
}

.team__founder-item:nth-of-type(2) {
  background-image: url('../images/AlbertThanh.png');
}

.team__founder-item:nth-of-type(3) {
  background-image: url('../images/JennPereira.png');
}

.founder-item__text {
  padding: 35px 43px 31px 34px;
  display: block;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}

.founder-item__text h3 {
  color: #041608;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.4px;
  margin-bottom: 10px;
}

.founder-item__text span {
  color: #777777;
  font-size: 16px;
  font-weight: 700;
  display: block;
  margin-bottom: 20px;
}

.founder-item__text p {
  color: #9c9c9c;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
}


/* Portfolio */

.project {
  background-image: url('../images/bg-portfolio.jpg');
  background-position: center right;
  background-repeat: no-repeat;
  background-color: #e2e2e2;
}

.project h2 {
  display: inline-block;
  color: #fff;
  font-size: 48px;
  font-weight: 300;
  padding: 5px 30px;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  background-color: #000;
  margin-top: 115px;
}

.project p {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 7.2px;
  margin-top: 44px;
  padding-bottom: 100px;
}